@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Budget App</h1>
    <button id="addCategoriesBtn" onclick="showAddCategoryForm()">Add Category</button>
    <button id="showCategoriesBtn" onclick="displayCategories()">Show Categories</button>
    <button id="showTransactionsBtn" onclick="displayTransactions()">Show Transactions</button>
    <button id="addTransactionsBtn" onclick="showAddTransactionForm()">Add Transaction</button>

    <div hidden id="addCategoryDiv">
        <form method="POST" onsubmit="addCategory()">
            <label for="addCategoryName">Category Name:</label>
            <input type="text" id="addCategoryName" placeholder="Enter a category's name" />
            <input type="submit" value="Add" />
        </form>
    </div>

    <div id="categoriesDiv">
    </div>

    <div hidden id="addTransactionDiv">
        <form class="d-flex flex-column justify-content-center align-items-center" method="POST" onsubmit="addTransaction()">
            <label for="addTransactionName">Transaction Name:</label>
            <input type="text" id="addTransactionName" placeholder="Enter a transactions's name" />
            <label for="addTransactionDate">Transaction Date:</label>
            <input type="date" id="addTransactionDate" />
            <label for="addTransactionAmount">Transaction Amount:</label>
            <input type="text" id="addTransactionAmount" placeholder="Enter a transactions's amount" />
            <label for="categories">Transaction Category:</label>
            <select name="categories" id="categories">
            </select>
            <input type="submit" value="Add" />
        </form>
    </div>

    <form hidden method="GET" id="searchTransactionsForm">
        <label for="searchTransactionName">Transaction Name:</label>
        <input type="text" id="searchTransactionName" placeholder="Enter a transaction's name'"/>
        <input type="button" value="Filter" onclick="searchTransactionsByName()"  />
    </form>

    <table hidden id="transactionsTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th id="dateth">Date</th>
                <th>Amount</th>
                <th id="categoryth">Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="transactions"></tbody>
    </table>
</div>
